.number_lhl_1_0_0 {
    font-family: var(--primary-font);
    padding-top: 20px;
    &__title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__box {
        text-align: center;
        background: var(--primary-color);
        color: white;
        padding: 20px 0;
        margin-bottom: 20px;
        &Number {
            color: var(--secondary-color);
            font-size: 28px;
            font-weight: 600;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width:600px){
    .number_lhl_1_0_0 .container{
        flex-direction: column;
    }
}