.header_lhl_1_0_0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    font-family: var(--primary-font);
    background:#fff;
    .container{
        position: relative;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &Top{
            display: flex;
            justify-content:flex-end;
            align-items: start;
            padding:10px 0 40px;
            gap:8px;
        }
        &Call{
            color:#fff;
            display: flex;
            &Text{
                background:#00A550;
                padding:2px 10px;
                flex:1;
            }
            &Icon{
                display: block;
                width: 28px;
                height: 28px;
                background: url(../images/header-contact.png) no-repeat scroll #ffcc00;
                &Phone{
                    background-position: 0 -28px;
                }
            }
        }
    }
    &__search{
        border: 1px solid #cdcdcd;
        padding: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size:13px;
        input{
            border:none;
            padding:0 5px;
        }
        button{
            background:none;
            border:none;
            border-left: 1px solid #cdcdcd;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width:25px;
            height:21px;
            cursor: pointer;
        }
    }
    &__lang{
        font-size:14px;
        &Active{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding: 5px 0;
            width: 102px;
        }
        &Shadow{
            margin:0;
            display: none;
            position: absolute;
            top: 44px;
            right: 0;
            background-color: #fff;
            -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            z-index: 9999;
            padding: 10px 20px;
            width: 120px;
            line-height: 30px;
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:hover{
                    color:#00a550
                }
            }
        }
        &:hover{
            .header_lhl_1_0_0__langShadow{
                display:block;
            }
        }
        ul,li{
            list-style: none;
        }
        .arrow{
            width: 0px;
            height: 0px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #aeaeae;
            margin-left: 5px;
            margin-right: 0;
        }
    }
    &__logo {
        margin: 0;
        width: 120px;
        img {
            display: block;
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }
    &__list {
        flex: 1;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    &__item {
        padding: 0 10px;
        position: relative;
    }
    &__link {
        font-size: 15px;
        padding: 10px 5px;
        display: block;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
    }
    &__btn {
        padding: 0;
        margin: 0 0 0 10px;
        border: none;
        background: none;
        display: block;
        cursor: pointer;
        line-height: 0px;
    }
    &__dropdown {
        transition: all 0.2s linear;
        display: none;
        position: absolute;
        top: 33px;
        left:0;
        width: 200px;
        background: #00A550;
        padding: 15px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            li {
                padding-bottom: 8px;
                margin-bottom: 7px;
                a{
                    color:#fff;
                    &:hover{
                        color:#fc0;
                    }
                }
            }
        }
    }
    &__item:hover {
        background-color: #00A550;
        cursor: pointer;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        a{
            color:#fff;
        }
        .header_lhl_1_0_0__dropdown {
            display: block;
        }
    }
    &__nav {
        display: none;
    }
    &__logoMb {
        display: none;
    }
    &__btnGroup {
        display: none;
    }
    &__bg {
        display: none;
    }

    @media (max-width: 1200px) {
        padding: 10px 0;
        .header_lhl_1_0_0__lang{
            position: fixed;
        }
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        &__bg {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            z-index: 10;
        }
        &__nav {
            display: block;
            position: fixed;
            img {
                display: block;
            }
        }
        &__btnGroup {
            display: flex;
            a {
                border: 1px solid white;
                width: 35px;
                height: 35px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 5px;
            }
            button {
                background: rgba(238, 238, 238, 0);
                border: 1px solid white;
                width: 35px;
                height: 35px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        &__link {
            padding: 10px 0 10px 15px;
        }
        &__logo {
            img {
                margin: 0 auto;
            }
        }
        &__logoMb {
            display: block;
            img {
                width: 50%;
                margin: 8px auto;
                display: block;
                height: auto;
            }
        }
        &__list {
            flex-direction: column;
            overflow-y: auto;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            background: #fff;
            width: 250px;
            z-index: 20;
            transform: translateX(-100%);
            transition: all 0.3s linear;
        }
        .show {
            transform: translateX(0);
        }

        &__item {
            width: 100%;
            padding: 1px 0;
            background:#f1f1f1;
            border-top:1px solid #fff;
            &:hover{
                border-radius: 0;
            }
        }
        &__btn {
            display: none;
        }

        &__item.open .header_lhl_1_0_0__dropdown {
            display: block;
        }
        &__dropdown {
            width: 100%;
            display: none;
            position: unset;
            padding: 0 0 0 15px;
            box-shadow: unset;
            border: none;
            margin: 5px 0 0;
            border-radius: 0;
            text-align: left;
            &Cate {
                width: 100%;
                padding: 10px 0 10px 15px;
                margin: 0;
            }
        }
    }
    @media (max-width:1180px){
        height:68px;
        display: flex;
        align-items: center;
        .header_lhl_1_0_0__boxCall{
            display: none;
        }
        .header_lhl_1_0_0__search{
            display: none;
        }
        &__logo{
            margin:0 auto;
            img{
                max-width: 60px;
                margin-top:0;
            }
        }
    }
    @media (max-width: 820px) {
        &__language.en{
            background: none;
            padding-left:0;
        }
    }
    @media (max-width: 480px) {
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @media (max-width: 280px) {
        .container {
            padding-right: 10px;
            padding-left: 10px;
        }
        &__list {
            width:230px
        }
    }
}
