.slider_lhl_1_1_0 {
    font-family: var(--primary-font);
    position: relative;
    &__text {
        position: absolute;
        width: 100%;
        left: 10px;
        bottom: 20px;
        &Content {
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5455182756696428) 50%, rgba(0, 0, 0, 0) 100%);
            color: #fff;
            text-transform: uppercase;
            display: table;
            padding: 5px 20px;
            margin-left: 50px;
            font-size: 25px;
        }
    }
    img {
        width: 100%;
    }
}