.news_lhl_1_0_0 {
    font-family: var(--primary-font);
    background: #fff;
    padding: 30px 0;
    position: relative;
    &::before {
        display: block;
        top: 0%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 20px;
        margin-left: -20px;
        border-top-color: #efefef;
    }
    &__title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
        &Title {
            font-weight: normal;
            font-size: 14px;
        }
        a {
            width: 19%;
            img {
                transition: .6s;
                width: 100%;
            }
            &:hover {
                color: var(--primary-color);
                img {
                    transition: .6s;
                    opacity: .8;
                }
            }
        }
    }
    &__more {
        text-align: right;
        font-size: 14px;
        margin-top: 10px;
        a {
            color: var(--third-color);
            &:hover {
                opacity: .6;
            }
        }
    }
}
@media (max-width:600px){
    .news_lhl_1_0_0__box a {
        width: 100%;
        display: flex;
    }
    .news_lhl_1_0_0__box a img {
        width: 40%;
        margin-right: 15px;
    }
}